@font-face {
  font-family: 'Mont';
  src: url('../fonts/MontserratAlternates-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont-light';
  src: url('../fonts/MontserratAlternates-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
    --index: calc(1vw + 1vh);
}

body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
    font-family: 'Mont-light', sans-serif;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    /* position: relative; */
}

.video {
    left: 0;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    overflow: hidden;
}

.container {
    max-width: 700px;
    padding: 24px;
    background-color: rgba(95, 105, 116, 0.3);
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 0; 
    right: 0;
    margin: 50px auto;
}

/* Заголовки */
h1, h2 {
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    text-align: center;
}

header {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
}

/* Навигация */
header nav {
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    z-index: 100;
    text-align: right;
}
header nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 16px;
    font-weight: 500;
}
header nav a:hover {
    text-decoration: underline;
}

/* Формы */
form {
    max-width: 600px;
    margin: 50px auto;
}

input::placeholder, textarea::placeholder {
    color: #fff;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="datetime-local"],
form textarea {
    width: 100%;
    padding: 20px 14px;
    margin-bottom: 15px;
    border: 1px solid #d1d1d6;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
    font-family: 'Mont-light', sans-serif;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator
    {
        color: rgba(0, 0, 0, 0);
        opacity: 1;
        background-image: url("../media/calendar.svg");
        background-repeat: no-repeat;
        background-position: 100% center;
        background-size: 20px;
        cursor: pointer;
    }

form textarea {
    resize: vertical;
    height: 80px;
}

form button {
    display: block;
    /* max-width: 200px; */
    margin: 0 auto;
    background-color: transparent;
    color: white;
    padding: 10px 35px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: 'Mont-light', sans-serif;
}

form button:hover {
    background-color: #35393d;
}

/* Сообщения */
.flash {
    padding: 12px 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}
.flash.success {
    background-color: #d1f2e6;
    color: #135846;
}
.flash.danger {
    background-color: #fde2e2;
    color: #b91c1c;
}
.flash.warning {
    background-color: #fff8db;
    color: #7c6f00;
}

.active-tasks {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 10px 10px 50px 10px;
    padding: 10px;
    font-size: 14px;
}

.active-task-doin {
    padding: 10px;
}

.active-task-doin a {
    display: block;
    background-color: transparent;
    color: white;
    padding: 10px 35px;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-decoration: none;
    transition: background .3s linear;
    margin: 10px;
}

.active-task-doin a:hover {
    background-color: #35393d;
}

.active-task-item {
    padding: 10px;
}